.image-upload > input {
  display: none;
}

.image-preview {
  width: 126px;
  height: 126px;
  object-fit: cover;
  background-repeat: no-repeat;
  border: 2px solid grey;
  border-radius: 16px;
}
